<h1>Available drones</h1>

 <div class ="drone">
    {{#each drones}}
        <div class ="droneSingle">
            

                <h3>{{name}}</h3>

                <p>Number of propellers: {{propellers}}</p>

                <p>Max Speed: {{maxSpeed}}</p>


                <a href="drones/{{id}}/edit" id="update">Update</a>

                
                <br/>

                <form action="/drones/{{id}}/delete" id="delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            
            
        </div>
    {{/each}}
</div>
